[2021-11-22 11:41] GuiGarnier opened #2 "Import Test Dependancies"
Hello :)

I just wanted to try, but i get a missing import module.
[code]

I not sure if this is missing or a wrong import but it seem this file/folder/module is not part of your package.

I just install `pydantic_factories` with `poetry add pydantic_factories`

Anyway, thanks for your work it's seem promising

[2021-11-22 14:13] Goldziher commented on #2
Thanks @GuiGarnier  - fixed in v0.3.1b, can you update and check if the issue is resolved?

[2021-11-22 14:46] GuiGarnier commented on #2
Yes, it's seem to solve the issue :)

[2021-11-22 14:46] #2 closed

[2021-11-27 17:33] lyz-code opened #5 "Randomly return `None` in `Optional` fields"
Hi @Goldziher first of all, thank you, thank you and thank you. I've been close to create something like this several times. You're a life saver :)

In most of my pydantic models I have some property of type `Optional[...]`. It would be awesome if `pydantic-factories` was able to understand them and randomly return `None` on some of the objects.

I dealt with this problem in the past, and created

[2021-11-27 18:37] Goldziher commented on #5
Why you're welcome 😄

So, regarding your question, given:

[code]

You would like the factory to occasionally return None and occasionally return a  string for prop?

I can certainly add this, or if you like - you can add a PR adding this functionality. Let me know how you'd like to proceed.

[2021-11-27 19:10] lyz-code commented on #5
Yup, that functionality is exactly what I had in mind.

Regarding who implements it, if you can (and want to) do it, probably you'll be able to do it faster, else I can do it myself. In that case, I'd be grateful if you can point me on how you think it should be implemented.

[2021-11-27 21:56] Goldziher commented on #5
@lyz-code - implemented, and released as v0.4.1. The factory will randomly output None values for optional fields - except for dataclasses, for these it will always output values for now. It will require more custom logic to handle this because the pydantic helper function `create_model` doesn't neithers allows for setting required via field definitions, nor runs the pydantic parsing logic.

I, or

[2021-11-27 21:56] #5 closed

[2021-11-28 13:01] lyz-code commented on #5
Works like a charm, thank you! :)

[2021-11-29 11:50] lyz-code opened #7 "Mypy error cannot subclass "ModelFactory" (has type "Any")"
Hi, when using the `ModelFactory` I get the next mypy error:

[code]

For example with the code in the readme:

[code]

I think this might be related with [this pydantic issue](https://github.com/samuelcolvin/pydantic/issues/1072).

Do you have any idea on how to solve it?

[2021-11-29 12:06] lyz-code opened #8 "Mypy error `Skipping analyzing "pydantic_factories": found module but no type hints or library stubs [import]`"
When importing the `ModelFactory` mypy returns the error:

[code]

When using the code:

[code]

This can be patched by adding the next lines to `mypy.ini`:

[code]

But it would be better if `pydantic-factories` provided the information. Mypy gives some hints on [how to make your library compatible with mypy](https://mypy.readthedocs.io/en/stable/installed_packages.html#making-pep-561-compatible-

[2021-11-29 13:07] lyz-code opened #9 "`ParameterError` raised on complex model for already supported types"
I'm starting to use the library in [clinv](), when using the [`VPCFactory`](https://github.com/lyz-code/clinv/blob/feat/restore-reports/tests/factories.py#L31)  defined as:

[code]

And running `VPCFactory.build()` I get the error:

[code]

When the property `environment` is not `None`.

The interesting snippets of the model definition are:

### [`src/model/aws.py`](https://github.com/lyz-code/cli

[2021-11-29 13:14] Goldziher commented on #8
@lyz-code The issue is probably the way i defined py.typed at the root level. I published 0.4.3, can you test and see if this resolves the issue for you?

[2021-11-29 13:15] Goldziher commented on #7
this is probably the same issue as the other issue - please test v0.4.3 and let me know if this persists for you. Now - the test suite of this package has a lot of use of such code and all of it passes type checking.

[2021-11-29 13:16] lyz-code commented on #8
It has improved, but now I get the next error:

[code]

[2021-11-29 13:20] Goldziher commented on #9
Can you create a pull request with a failing test? I will take it from there.

[2021-11-29 13:22] Goldziher commented on #8
ok, let me explicitly add an __all__ entry in the __init__ file. I personally don't use this mypy rule usually :). Can you paste your mypy settings here?

[2021-11-29 13:27] lyz-code commented on #7
The issue was that in my `mypy.ini` I had the next configuration set:

[code]

The default for `mypy` is `False`, so I guess that it's something that's ok not to check, so I'm going to close the issue

[2021-11-29 13:27] #7 closed

[2021-11-29 13:33] Goldziher commented on #8
v0.4.4 is out, should fix the issue. Let me know please.

[2021-11-29 13:42] Goldziher commented on #9
v0.4.5 is released with a fix. Please test and update me.

[2021-11-29 15:11] lyz-code commented on #8
`0.4.4` fixed it :)

for reference, the `mypy.ini` I'm using is:

[code]

[2021-11-29 15:11] #8 closed

[2021-11-29 15:19] lyz-code commented on #9
Hey, sorry for not answering quicker, and thanks for the quick support, it's amazing.

It worked! Now I'm encountering the same issue with `List` properties, for example:

[code]

The traceback looks something like:

[code]

[2021-11-29 15:37] Goldziher commented on #9
Ha, yes.this is a custom class. I'll see what I can do. And you're welcome 😃

[2021-11-29 15:57] Goldziher commented on #9
BTW, the documented use of consteainedstr is using the constr helper fn

[2021-11-29 18:47] Goldziher commented on #9
Ok @lyz-code , fixed - v0.4.6 is published. Please test and update me.

[2021-11-30 09:50] lyz-code commented on #9
You rock! it's like magic, `pip install -U pydantic-factories` and everything works :)

[2021-11-30 09:50] #9 closed

[2021-12-13 23:04] smcoll opened #10 "handle `Optional` fields according to a setting"
Hello, thanks for making this library.  Been looking forward to seeing something like this.

i noticed that in https://github.com/Goldziher/pydantic-factories/issues/5 it was decided to include None as a possible value for `Optional` fields.  i can certainly see the use case for that.  In my case, i'm using `pydantic-factories` to dynamically generate example data for FastAPI OpenAPI docs and woul

[2021-12-14 08:44] Goldziher commented on #10
Hi @smcoll. Thanks for the detailed issue and taking the time to read the code and map the possible solutions. I added a a PR - if you have time, please review it and comment there regarding the implementation changes. I will merge it and publish in a few hours otherwise.

[2021-12-14 11:32] Goldziher commented on #10
@smcoll v0.6.0 is released, there is now a class variable called `__allow_none_optionals__` that does what you asked for. There are other changes as well, so checkout the CHANGELOG.md file at the root.

I'm closing this issue now, feel free to re-open it these fixes are not sufficent.

[2021-12-14 11:32] #10 closed

[2021-12-15 13:07] sondrelg opened #12 "Literal support"
When specifying my model, using a `Literal`, I run into an error in the generation.

[code]

Pydantic model error output
[code]

Guessing it's currently returning `None` rather than `"attribute"`.

I _might_ be mis-using pydantic here. Are you able to confirm whether this is a bug or user error @Goldziher? 🙂  Happy to help resolve this if it's a bug.

[2021-12-15 13:16] sondrelg opened #13 "Shortcut function"
This is mostly a question: would you consider adding shortcut functions to the library @Goldziher?

## Background

I run into this pattern a lot. I have a mock like this:

[code]

and realize I can use pydantic-factories to provide the return data (yay 🎉 )

My issue is that the declaration needed to create a one-off model here is a little bit much for the scenarios where I just want valid data (I'

[2021-12-15 13:59] sondrelg commented on #13
I'll start using something like this in my own project and see what it feels like:

[code]

[2021-12-15 14:49] Goldziher commented on #12
hmm, guess this is a bug. Although I would have expected pydantic to set the field as "const" in this case, which might well be a pydantic issue. You're welcome to open a PR with a fix for this - I would treat it the same way as const TBH. I also suggest opening an issue in pydantic.

[2021-12-15 14:56] Goldziher commented on #13
so there is already a method - which isn't documented in the readme at present, but is used internally and is meant for subclassing etc. Its- `ModelFactory.create_factory()`.

It does exactly what you want and a bit more, the signature for this is:

[code]

model is a subclass of the pydantic `BaseModel`, base is an optional factory class to use as a base, other than `ModelFactory` which is the de

[2021-12-15 15:21] sondrelg commented on #12
I'll take a look at what happens inside pydantic-factories when I get a chance. The pydantic model output certainly seems to indicate we have all the data we need to handle it 🙂

[code]

[2021-12-16 20:05] Goldziher commented on #12
Issue fixed with v0.6.2

[2021-12-16 20:05] #12 closed

[2021-12-20 16:40] smcoll commented on #10
Wow, thanks!  My implementation looks like this, now:

[code]

[2021-12-21 10:40] cazgp opened #14 "Allow specifying that an Optional field should have a value when building the Factory"
In all cases except a few, the feature to alternate between `None` and a value for Optional fields is very useful. However, in some cases I need there to always be a value. Now, one could import `Faker` and create a random value manually; however, something like the following would be super helpful:

[code]

In fact, I tried this on the offchance that it would work, but alas no!

If you have any t

[2021-12-21 12:54] Goldziher commented on #14
Hiya @cazgp,

So you want granular control on which fields will get a value and which will not through build args?

It would be cool if you try to implement it and add a PR - simply because I want contributors and eventually more maintainers :)

Anyhow, if you look  at the factory you will see there is a method [should_set_none](https://github.com/Goldziher/pydantic-factories/blob/main/pydantic_fa

[2021-12-27 20:39] daniel-katzan opened #15 "Allow building a pydantic class without validation"
When using pydantic factories, we encountered a use case where we we sometimes want to create pydantic models without validating them

this can be achieved in pydantic by using the [construct](https://pydantic-docs.helpmanual.io/usage/models/#creating-models-without-validation) method

we were thinking about adding this functionality to pydantic factories as well,
probably by adding a new class bo

[2021-12-27 21:12] Goldziher commented on #15
Sure

This can also be a kwarg passed to the build method,  no?

[2021-12-27 22:44] daniel-katzan commented on #15
that was my initial thought, but that will prevent from having a pydantic model with that arg name as a field (and potentially be a breaking change in case such exists somewhere)

[2021-12-27 22:56] Goldziher commented on #15
well true, how about something like this as a kwarg:

factory_use_construct: bool ?

I don't think this will be a breaking change for anyone, but I am willing to make this a minor rather than a patch version to ensure this 😉

[2021-12-28 11:55] Goldziher commented on #15
v0.7.0 is released. Thanks @daniel-katzan

[2021-12-28 11:55] #15 closed

[2021-12-28 11:56] Goldziher commented on #14
@cazgp ?

[2021-12-28 11:57] Goldziher commented on #13
@sondrelg should i close this issue or do you intend to act on this?

[2021-12-28 16:36] sondrelg commented on #13
I might re-open a PR after some more experimentation, but generally I'd say this has been less of an issue than I thought it might be 👍

[2021-12-28 16:36] #13 closed

[2021-12-28 19:22] #14 closed

[2021-12-28 19:22] Goldziher commented on #14
please reopen if still relevant.

[2021-12-29 15:36] eviltnan opened #17 "Ability to extend __allow_none_optionals__ to nested models"
Amazing library, thank you!
For the case when the data model is complex, there is a need to cover all non-trivial cases.
~~Looks like in  pydantic_factories/factory.py:369 the check for is_optional and not create_random_boolean can be placed to a separate method like it's done with other checks.~~ -> Old version

So if I have:

[code]
`__allow_none_optionals__=False` behavior won't be applied to B

[2021-12-29 15:39] eviltnan opened #18 "Disable randomization option"
While randomizing the input is a good idea, big test suits want to remain determined, so the reason of failure can be investigated properly.
In multiple places in the codebase random.choice is used, so if a field belongs to a composite type like Union, random results can be expected even if faker seed is set.

What would be very cool, is a global option or similar where randomization can be disabl

[2021-12-29 16:19] Goldziher commented on #18
Yes, I agree it would be very cool :). I looked into it a while back - but it required quite a bit of work to implement. Basically this requires creating an instance of `random.Random` and seeding it. Then using this instance instead of the calls to choice  and all the other calls to random methods (there are several places of these). The problem is that it creates a stronger coupling inside the c

[2021-12-29 16:23] Goldziher commented on #17
Thanks!

This is whats [on line 369](https://github.com/Goldziher/pydantic-factories/blob/main/pydantic_factories/factory.py#L369).  I guess you [mean this](https://github.com/Goldziher/pydantic-factories/blob/main/pydantic_factories/factory.py#L392)?

Can you add a snippet of what you mean so I understand?

[2021-12-30 09:57] eviltnan commented on #17
Oh, sorry, I had an old version and wasn't aware of it. Updated and realized this is already implemented.
There is a problem with the current approach though: if no explicit factories are defined for the nested/underlying models, they won't inherit the setting their creation remains none-randomized.

So if I have:

[code]
`__allow_none_optionals__=False` behavior won't be applied to B, which is co

[2021-12-30 10:09] eviltnan commented on #18
Looks cool!  Atm I'm doing this:
[code]
which is too simple for the wider use, of course. I could dig into it, but don't expect quick result :D

[2021-12-30 10:25] Goldziher commented on #18
Great, take your time! So I will keep this issue open for the time being.

[2021-12-30 10:27] Goldziher commented on #17
Yes, I agree. It would make sense to make this also a kwarg to the .build method. If you feel like implementing this it would be awesome, otherwise I'll keep this issue open and get to it ASAP (probably a few weeks TBH)

[2021-12-31 11:12] eviltnan commented on #17
While trying to implement the fix I figured that `__allow_none_optionals__` works exactly as I wanted it, closing the issue :rofl:

[2021-12-31 11:12] #17 closed

[2021-12-31 11:22] eviltnan commented on #18
Why not use Faker instance that is already has a seeding option? Or it's Random object?

[2021-12-31 11:27] Goldziher commented on #18
you can pass an instance of faker and seed it if you want - it's already an option exactly for this use case. The problem is that the library also requires data generation outside the scope of faker, and the logic is decoupled in a way that makes it difficult to use a single instance of Random.

[2021-12-31 15:54] Goldziher commented on #18
Merged @eviltnan  - thanks a lot. If you would like to help maintain this library, please join discord and lets chat - https://discord.gg/AcctkU5m

[2021-12-31 16:40] eviltnan commented on #18
Will do! I guess this issue can be closed :D
Let's talk next year.
Happy new year 🎆🎆🎆🎆🎆🎆

[2021-12-31 16:40] #18 closed

[2022-01-02 10:46] jossefaz opened #20 "create_sync do not check contraints like primary key"
HI.

I use [sqlmodel-model](https://sqlmodel.tiangolo.com/#create-a-sqlmodel-model) which combine pydantic and sqlalchemy in one.

Your fantastic library helped me a LOT for unit tests and I really want to tell you THANK YOU.

However, when I implement the persistence handler protocol, somehow, it does save items with an id of `None` (since the id is an Optional field, otherwise we would not be ab

[2022-01-02 12:20] Goldziher commented on #20
@jossefaz you're welcome 😃.

Am I right in assuming that sqlmodel should generate the PK value for you? If that is the case use `Ignore()`.

[2022-01-02 13:03] jossefaz commented on #20
OMG ! @Goldziher  You are the best ! Thank you !

[2022-01-02 13:03] #20 closed

[2022-01-07 14:50] lindycoder opened #21 "ModelFactory generic does not accept BaseModel subclasses"
Hi!

Thank you for this tool, it's a great idea!

# Versions

Python: 3.9.9
Libraries:
- pydantic-factories==1.1.0
- mypy==0.930

# Issue
While trying to use it with mypy in strict mode
[code]

I would get
[code]

If trying to specify the type with `class PersonFactory(ModelFactory[Person])`, i would get
[code]

# Reproduce

I've put up a reproduction repo here: https://github.com/lindycoder/pydan

[2022-01-07 17:58] Goldziher commented on #21
Hi there.

It should not be Person, it should be `Type[Person]`, or in python 3.9+ `type[Person]`

[2022-01-07 18:05] lindycoder commented on #21
Hi, thank you for your response.

If i understand correctly you are suggesting:
[code]

I updated my reproduction repo with an [example3.py](https://github.com/lindycoder/pydantic-factories-mypy-issue/blob/main/example3.py#L17), result is
[code]

Sorry again if i'm just misunderstanding something.

[2022-01-07 18:13] Goldziher commented on #21
no, all good. I will take a look.

[2022-01-07 18:28] Goldziher commented on #21
Ok, I took a look. Your analysis is correct. Yet I am not so sure that the error is this library's end. The type should indeed by `Type[BaseModel]` and not `BaseModel`.  Intellij for example is able to parse the typing correctly.

The simplest work around is simply to set:

[code]

in your pyproject.toml, or mypy.ini (False in that case).

If you want to try and add a fix with a PR - you are welco

[2022-01-07 18:36] lindycoder commented on #21
There, let me know what you think, really open to give a hand, i think easy data generation is crucial for readable testing.

[2022-01-07 18:50] lindycoder commented on #21
I see what you mean by it should be `type[Person]`, but the [build](https://github.com/Goldziher/pydantic-factories/blob/main/pydantic_factories/factory.py#L469) method returns a `T`,  therefore a ModelFactory[T] will return an instance of type `T`.

[2022-01-07 19:27] Goldziher commented on #21
Great. I added a comment. If you'd like to help maintain its great, can you join the discord server?

[2022-01-08 05:59] jenniferplusplus opened #23 "Automatically generated factories don't inherit the overridden get_provider_map"
## Issue

I'm trying to generate some deeply nested models, and somewhere in the tree are fields defined as `Optional[Exception]`. Pydantic Factories doesn't have a handler for Exception. I'm not sure if that's intentional, but it creates a problem for me. I tried to override `get_provider_map`, but this didn't help because the field is in a nested model.

When a factory dynamically generates a ne

[2022-01-08 08:34] #21 closed

[2022-01-08 08:56] Goldziher commented on #23
Hi @jenniferplusplus ,

Thanks for the detailed issue.

It's not by intention that there are no providers for exceptions, I just didn't think if this.

Its probably a good idea to add all builtin exceptions to the providers map... what do you think?

As for inheriting from the parent factory, I'd classify this as a bug - it should be the base behaviour.

Would you like to contribute a PR for this

[2022-01-09 20:54] Goldziher commented on #23
v1.2.0 is released addressing this ticket. Closing.

[2022-01-09 20:54] #23 closed

[2022-02-08 22:09] zschumacher opened #26 "Implement an init"
### What?
Similar to other factory boy extensions, I'd expect to be able to simply construct the object and not have to call `.build`, like the basic usage example from the [factory boy docs](https://factoryboy.readthedocs.io/en/stable/introduction.html#basic-usage)

### Behavior I want

[code]

### Why do I care?
It'd be nice if I could change this in my packages that serialize using Pydantic and

[2022-02-09 08:37] Goldziher commented on #26
this library is not a factory boy extension.

[2022-02-09 08:37] #26 closed

[2022-02-15 21:59] mciszczon opened #27 "`OrmarModelFactory.get_field_value` TypeError("object of type 'bool' has no len()")"
Hi @Goldziher!

First of all, thanks for this superb library, I just started integrating it into my project and it seems very promising. I stumbled upon a problem, though, and I think it might be a problem with the library itself.

The `OrmarModelFactory` overrides the `get_field_value` method to handle choices field. However, in my model I have a `ormar.ForeignKey` field:

[code]

When trying to

[2022-02-16 07:16] Goldziher commented on #27
Hi, thanks and sure

[2022-02-16 21:02] lyz-code opened #29 "Add support for `pytest-freezegun`"
Hi @Goldziher, I'm having issues using `pydantic_factories` with `pytest_freezegun`, the problem is that pytest_factories is not able to find the factory function for the `datetime` attributes

[code]

Adding a `pdb` trace on line 339 I get the next result:

[code]

If you feel it's a corner case and you don't want to support `pytest-freezegun`, can you point me in the direction on how to extend t

[2022-02-16 21:18] lyz-code commented on #29
It's weird, in other project I have with the same python and `pydantic_factories` version it works...

In this one I've tried `1.2.3`, `1.2.2` and `1.0.0` with the same error :S

What do you think  it can be?

[2022-02-16 23:34] Goldziher commented on #29
Hi there,

Its not a fringe use, but its a 3rd party dependency. So I don't see how it can be done in the scope if the library.

To extend the providers map you simply need to subclass ModelFactory, override the method and extend the base value.

This should resolve you issue I hope.

[2022-02-17 16:31] Goldziher commented on #29
Can I close this issue? Or do you intend to add a PR?

[2022-02-18 08:17] #29 closed

[2022-02-18 08:20] #27 closed

[2022-03-01 20:11] ccenzura opened #30 "SQLModel integration"
Hi,

I have the problem integrating your tool with my models to keep correct constraints keys etc.
Please give me some examples or tips.

[2022-03-01 20:46] lindycoder commented on #30
Hi, have you tried the `Use()` field in your factories
https://github.com/Goldziher/pydantic-factories#use-field

[2022-03-02 10:44] mtmvu opened #31 "Bad handling of constrained decimal"
Hi,
Given the following Pydantic model and factory:
[code]

If we run
[code]

The following error would be raised:
[code]

The issue comes from the fact that `pydantic_factories.constraints.constrained_decimal_handler.handle_decimal_length` would return an invalid value.
For example:
`handle_decimal_length(generated_decimal=Decimal('999.9'), max_digits=8, decimal_places=5)`
would return `Decimal('

[2022-03-02 22:53] ccenzura commented on #30
@lindycoder thanks for the answer
I have tried after your suggestion but it doesn't work
Below are definitoins of my classes

class SellerData(SQLModel, table=True):
    __tablename__ = "seller_data"
    seller_id: int = Optional[int] = Field(default=None, primary_key=True)
    seller_name: str
    is_active: bool = Field(default=False, nullable=False)
    created_date: datetime
    change_date: d

[2022-03-03 00:31] ccenzura commented on #30
[@lindycoder](https://github.com/lindycoder) thanks for the answer
I have tried after your suggestion but it doesn't work
Below are definitoins of my classes
class SellerData(SQLModel, table=True):
    __tablename__ = "seller_data"
    seller_id: int = Optional[int] = Field(default=None, primary_key=True)
    seller_name: str
    is_active: bool = Field(default=False, nullable=False)
    created_d

[2022-03-03 06:38] Goldziher commented on #31
Hi there. Yes you are correct - there is a bug on our end. I am afraid I do not at present have time to dedicate to this - so we have several options:

1. you add a PR with a fix
2. @lindycoder perhaps adds a PR with a fix
3. we keep this issue open until such time I or someone else have time for it

[2022-03-03 13:20] lindycoder commented on #30
Oh, you mean foreign keys, i'm not sure that's supported and i don't really know the persistence mechanisms.

But i can tell you that `seller_id` being an `int`, trying to make it use the `SellerDataFactory.batch` will not work.  Maybe what you're looking for is [relationship](https://sqlmodel.tiangolo.com/tutorial/relationship-attributes/) ?   Where you would have a field on SellerData like
[code

[2022-03-04 10:54] lyz-code commented on #29
Hi @Goldziher , sorry for the delay, what do you think if we add an optional argument to `ModelFactory` called `additional_mappers` where the user can pass a dictionary of mappers that gets merged with the default one?

That way it would be easier for the users to extend the existent mapping without the need of subclassing and overriding the method. Furthermore, if you do that, it's difficult to s

[2022-03-04 12:41] Goldziher commented on #29
hi @lyz-code - how is this relevant to this issue?

[2022-03-04 15:42] DaanRademaker commented on #31
I created a pull_request with a potential fix for this ^

[2022-03-04 16:20] lyz-code commented on #29
Because then It would be easier for me to extend the `ModelFactory` with something like:

[code]

And I wouldn't need to subclass `ModelFactory`, copy and paste the whole `get_provider_map` and append `FakeDateTime: faker.date_time_between` to the returned dictionary.

[2022-03-04 16:21] Goldziher commented on #29
Ok. Please create an issue with some examples of what you want to add, lets discuss it in a non-closed ticket.

[2022-03-04 17:02] lyz-code opened #33 "Make it easier to extend the supported attribute types"
As a user, I want to easily extend the available mappers of the pydantic model attribute types, for example, if there is a class that has an attribute type not supported by `pydantic-factories` and involves third-party libraries [like this case](https://github.com/Goldziher/pydantic-factories/issues/29), the extension of the mappers should be done on the user side.

Right now to do this the user h

[2022-03-04 17:08] Goldziher commented on #33
I have no problem with this proposal you're welcome to add a PR. Please note the following though:

1. we use the dunder pattern for factory variables, i.e. `__additional_mappers__` instead of `additional_mappers`
2. you could contribute documentation regarding how to subclass the factory, which will resolve the issue
3. you can also subclass the method [get_mock_value](https://github.com/Goldzihe

[2022-03-04 17:13] lyz-code commented on #33
Mocking `get_mock_value` makes more sense, I'll add the docs once I've got a working example, thanks!

[2022-03-04 18:40] lyz-code commented on #33
[Done!](https://github.com/Goldziher/pydantic-factories/pull/34)

[2022-03-04 20:13] #33 closed

[2022-03-07 20:42] mtmvu commented on #31
Issue has been resolved. Thank you so much @Goldziher  @DaanRademaker

[2022-03-07 20:42] #31 closed

[2022-03-23 00:55] hozn opened #35 "Union types with __allow_none_optionals__ causing maximum recursion depth exceeded errors"
When I have
1. A model defined where some fields are Union of types and None and
2.  `__allow_none_optionals__= True`

I'm getting an error: `RecursionError: maximum recursion depth exceeded while getting the repr of an object`

[code]

Here's a simple (python 3.10) reproduce script:
[code]

Version info:
[code]

[2022-03-23 08:31] Goldziher commented on #35
Hi there.

This seems to be a bug with how we determine if a given value is a `Union` type and the 3.10 union syntax. The error is here:
`repr(model_field.outer_type_).split("[")[0] == "typing.Union"`, where I would assume that either pydantic changed its logic respective of union typings, or that python itself has a different repr for these types.

I will have time to check this during the weeken

[2022-03-28 19:44] DaanRademaker commented on #35
It seems that the repr method is different for the 3.10 union syntax.
`
uuid.UUID | str | None
`

so I guess the is_union function in utils.py could be changed into something like this.

`
def is_union(model_field: ModelField) -> bool:
    """Determines whether the given model_field is type Union"""

    if repr(model_field.outer_type_).split("[")[0] == "typing.Union":
        return True
    elif

[2022-03-28 20:05] Goldziher commented on #35
If you add a PR with some test cases for this it would be great.

[2022-03-29 05:47] DaanRademaker commented on #35
Will add PR today.

[2022-03-29 17:54] Goldziher commented on #35
v1.2.7 released, thanks to @DaanRademaker for the PR! please confirm this issue is resolved and if it is - close this issue @hozn

[2022-03-30 13:53] hozn commented on #35
Thank you both!  I will test this out.

[2022-03-30 14:00] hozn commented on #35
Confirmed fixed; thanks again.

[2022-03-30 14:00] #35 closed

[2022-04-01 09:05] al-stefanitsky-mozdor opened #37 "Enhancement: Support `stricturl`"
Hi, is it true? I got an error:
[code]

[2022-04-01 09:13] al-stefanitsky-mozdor commented on #37
Well, fixed with this:
[code]

But that behaviour is not correct, can we implement this case?

[2022-04-02 09:08] Goldziher commented on #37
@al-stefanitsky-mozdor -- sure, a PR is welcome

[2022-04-11 11:30] DaanRademaker commented on #37
Do you have a reproducible example (For example the Request model that is used in your factory)? So stricturl should actually produce a constrained value right? Simply adding the url to provider_map (and returning AnyUrl) will not be sufficient if you set certain stricturl paramaters. For example if I would make a pydantic model:
[code]
Just returning a faker.url would not coincide with the proper

[2022-04-12 04:24] Goldziher commented on #37
yup, you are correct. The complexity is that we need to fake all the conditions handled by pydantic, which requires a rather complex url generator.

[2022-04-28 09:24] ccenzura commented on #30
I have tried both options...
Now, the code looks like this

[code]
I guess that I should use the create_sync() method, but I get this message... and do not know what should be defined in class SyncPersistenceHandler.
[code]

[2022-04-28 10:02] Goldziher commented on #30
add sqlmodel logic to persist the model in the DB.

[2022-04-28 10:45] ccenzura commented on #30
Maybe you have got some examples?

[2022-04-28 13:17] Goldziher commented on #30
how would you usually save models to the DB?

[2022-05-03 05:20] islam-main opened #38 "The flag allow_population_by_field_name is not recognized"
I have two models `User`, `Review` and their `ModelFactory`s.

[code]
*_note: all assertion are successful_

`Review` model has the `allow_population_by_field_name` flag set to `True` which means
`Review` model should be able to accept both `author` and `user` attributes to
populate the `User` model, however it's not recognized on building the instance and
new instance gets created.

I also notice

[2022-05-03 06:02] Goldziher commented on #38
Well, I wouldn't expect this to work - it doesn't exist :). Also, not in the docsö.

What is this flag supposed to achieve exactly?

[2022-05-03 06:52] islam-main commented on #38
The flag gives the Model the ability to accept the data in both the field name and the alias.

so you can do:
[code]
same as:

[code]

[2022-05-03 14:29] Goldziher commented on #38
oh, you mean the pydantic config. I see. So, this library doesn't read the pydantic model config, but rather the configuration of individual fields.

I'm not sure how desirable this behaviour is - @lindycoder , thoughts?

@islam-main how would you suggest implementing this?

[2022-05-03 14:50] blagasz opened #39 "Random seed is not propagated to the exrex package"
Hi! I'm using Field to define JSON Schema. The regex randomisation is working, but it would be more useful if the seed would work as well.

Minimal working example:
[code]

[2022-05-03 15:55] Goldziher commented on #38
Ok. Then a PR is welcome here 😃. I'll add the label.

[2022-05-03 16:44] islam-main commented on #38
@sondrelg @Goldziher  Why wouldn't we support both (name and alias) and implement the same behavior of Pydantic itself?
and I guess maybe we should extract the flag from the Config class, not letting the user to duplicate information?

[2022-05-03 17:03] lindycoder commented on #38
It's true that if you try to make the factory work on field name but the model doesn't have the flag then it will fail.  That's a good argument for reading the model's config.

[2022-05-03 17:17] Goldziher commented on #39
Hmm. Fair point. PR is welcome

[2022-05-03 17:18] Goldziher commented on #38
Implementation should support both I guess. I mean, both the field name and alias.

[2022-05-03 17:40] blagasz commented on #39
I am happy to do it, but not yet know why the seed is not working as exrex is using the same random module internally. But I'll figure out and do the PR! :)

[2022-05-03 17:44] islamseeq commented on #38
I am also short on time but I think I might be able to open a PR in a week or something to initiate [Pydantic Model Config](https://pydantic-docs.helpmanual.io/usage/model_config/) support.

[2022-05-03 17:48] islamseeq commented on #38
I'll start with this issue flag `allow_population_by_field_name` as it's very popular on [GitHub](https://github.com/search?q=allow_population_by_field_name&type=code).

[2022-05-03 17:49] islam-main commented on #38
I am also short on time but I think I might be able to open a PR in a week or something to initiate [Pydantic Model Config](https://pydantic-docs.helpmanual.io/usage/model_config/) support.

[2022-05-03 17:49] islam-main commented on #38
I'll start with this issue flag `allow_population_by_field_name` as it's very popular on [GitHub](https://github.com/search?q=allow_population_by_field_name&type=code).

[2022-05-03 17:59] blagasz commented on #39
Ok, I got it, this package is actually using a separate random instance. In `pydantic.utils`, ther is `random = Random()`. I need to figure out what is the rationale behind that.

[2022-05-03 18:55] blagasz commented on #39
I did the PR: #40. I haven't find any rationale for the separate `Random` instance, so I reverted back to the default one. Hope I did not miss something. Also added a test for the `pydantic.Field` with `regex`.

[2022-05-03 19:28] Goldziher commented on #39
v1.2.8 was released, thanks for your contribution @blagasz

[2022-05-03 19:28] #39 closed

[2022-05-04 22:27] ccenzura commented on #30
usually, I use
[code]

[2022-05-05 14:43] blagasz opened #41 "Feature: access already generated fields in custom generation"
It would be a nice feature to have access to the already generated field values in a customised generator scenario, e.g.

[code]

I could even imagine some decorator or annotation based solution to the same problem, e.g.

[code]

[2022-05-05 19:39] Goldziher commented on #41
Hi. Well, the issue here is really the ordering of generated fields - if you have a field A that is dependent on field B's value, this will not work out of the box currently. The library iterates the `__fields__` property of the pydantic model, which has an order that derives from the order of declaration of the fields. Thus, we cannot know for certain that field B will be processed before field A

[2022-05-05 20:00] Goldziher commented on #30
check this out, its how Beanie is setup: https://github.com/Goldziher/pydantic-factories/blob/main/pydantic_factories/extensions/beanie_odm.py

Now, how do you define a persistence handler?

You should create a class that fulfills the `PersistenceHandler` protocol, as specified in the readme, i.e.:

[code]

As written in this library's readme - you do not **have to** specify both a sync and async

[2022-05-05 20:12] blagasz commented on #41
Hi. I totally agree, I was also worried about the order. I think it is enough for all the realistic use cases I can think of that every field could only depend on a preceding one (it is also a good way to avoid circularities as an unwanted side effect). So I think it is completely satisfactory to somehow allow access for already generated fields and only those.

I am still unsure about the right s

[2022-05-05 20:16] Goldziher commented on #41
sure go ahead.

Also, would be happy for some further input @lindycoder

[2022-05-06 01:19] lindycoder commented on #41
I do not have a strong opinion on this.   I usually try to make data models that don't have interdependent fields because it's always a pain to generate data from.

If one field is generated from the others i would vote for a @property, if it's correlated with others and you're using pydantic i would make validators or root validators enforcing it....  but that doesn't solve the problem of the dat

[2022-05-06 07:09] blagasz commented on #41
I completely agree that this use case is best to be avoided. On the other hand it could add a nice extra to the package. Adding this option to Use though seems straightforward I would not go with the arg inspection option to avoid backward incompatible change. I suggest something like:

[code]
It is a second way of doing the same thing which is not ideal, but this way backward incompatibility coul

[2022-05-06 07:15] Goldziher commented on #41
well, so far we didnt use decorators in this package. its not a strict no, but I would prefer keeping the API logic the same.

How about, instead of modifying `Use`, we add a new class like `Use`, `Ignore`, etc, e.g. something like `After` or `Depends`, and then pass the data to it? What we could do is basically run the generation for all fields, but after the values have been generated, pass the

[2022-05-06 14:48] blagasz commented on #41
I like this, just to be sure, I see something like this in my head:

[code]
And the the value returned by the callable would be the final value for `dependant_field`.

[2022-05-06 14:59] lindycoder commented on #41
Just throwing that here

[code]

And all post generated fields would be triggered at the end of everything else, in no particular order.

If you introduce the direct dependency, we need to change the iteration of the `__fields__` and switch to a dependency tree because then you would need to support depends on depends... seems like complexity i'm not sure we want to support

[2022-05-06 15:50] blagasz commented on #41
Fair point, it could even become circular I guess

[2022-05-10 20:37] ccenzura commented on #30
persistance
[code]
factory
[code]

error
[code]

[2022-05-11 06:33] Goldziher commented on #30
Lol, you are calling `ModelFactory.create_sync()` instead of a concrete factory, such as `SellerDataFactory.create_sync()`.

[2022-05-11 23:27] ccenzura commented on #30
models
[code]
Factory
[code]

Persistance
[code]
After I create tables using the same models, I'm trying to generate data but I have got this result in console
[code]
Please tell me what I made wrong. :/

[2022-05-12 08:09] Goldziher commented on #30
well, it seems that the db is trying to insert a record that has an FK pointing at another table, that does not have a row with the given ID.

You need to insert the tables in the correct order, or have a cascading insert.

This though is not really an issue with this library -- its how you structure your data / build your factories and your persistence handler.

You should probably not have the p

[2022-05-14 15:34] #30 closed

[2022-05-17 15:49] blagasz commented on #41
@Goldziher, @lindycoder, I was away trying to accomplish what triggered this idea in the first place and I realised that it is almost inevitable to do custom post processing over the model factories if I want to consistently generate a complex database with meaningful cross connections in the data. It could be easily accomplished without the suggested feature by iterating through the generated mod

[2022-05-18 06:10] blagasz commented on #41
I contributed a first version, any feedback is welcome!

[2022-05-18 14:15] mrkovalchuk commented on #38
@islam-main @Goldziher https://github.com/Goldziher/pydantic-factories/pull/43 this is it?

[2022-05-18 14:22] islam-main commented on #38
@mrkovalchuk Yes it's, I'll check it.

[2022-05-18 16:24] Goldziher commented on #38
Thank you for contributing. There are comments on the PR.

[2022-05-19 19:42] Goldziher commented on #41
very nice stuff. I reviewed

[2022-05-20 21:10] Goldziher commented on #38
Thanks a lot for contributing @mrkovalchuk - v1.2.9 is been released with your contribution.

[2022-05-20 21:10] #38 closed

[2022-05-26 17:57] DiegoPiloni commented on #41
Hi, thanks for this library! In my team we are currently using factory-boy and considering to start using this library.

Would this be a good case for SQL relationships ? For example in SQLModel:

[code]

How would we make sure that `team_id` and `team.id` are both the same?

In factory-boy this could be accomplished with [`SubFactory`](https://factoryboy.readthedocs.io/en/stable/reference.html#fa

[2022-05-27 16:13] Goldziher commented on #41
This feature has been released in v1.3.0 @blagasz. Thanks for your contribution!

[2022-05-27 16:13] #41 closed

[2022-06-14 09:47] blagasz opened #45 "`Use` only works for aliases"
If the original pydantic model's field is aliased then only the aliased name could be overridden even if th `allow_population_by_field_name` config is set to true in the original model.

It would be nice to support the original field names override.

[2022-06-14 09:58] Goldziher commented on #45
Hiya, so are you going to add a PR?

[2022-06-14 12:11] lindycoder commented on #45
This already works for me since https://github.com/Goldziher/pydantic-factories/pull/43 released in 1.2.9 are you on the latest version?

[2022-06-14 12:32] #45 closed

[2022-07-03 18:32] Goldziher opened #46 "Discussion: handle recursion?"
Currently this library does not handle self-referencing models and models with cyclical references. For example:

[code]

In the above there are two models with cyclical dependencies - A that has a list of B and B that has A. If we simply resolve the forward ref and then generate values for one of these, we will hit a recursion exception. While my original thinking was that we should not handle th

[2022-07-03 22:17] lindycoder commented on #46
If this was
[code]

It would be downright impossible do instantiate this anyway... so "true" recursion is really possible unless there's an "out"
.
In the example you have, the "out" is the "empty list" in the example from the startlite bug, the "out" is a `None` on the subentity.

My recommendation would be that anything that can be empty is empty unless specified otherwise, and everything `Optio

[2022-07-04 05:16] Goldziher commented on #46
We should aim for backward compatible solutions.

[2022-07-21 10:54] #46 closed

[2022-07-22 04:50] roeeyn commented on #46
So how should we handle the provided example then?

[2022-07-22 06:26] Goldziher commented on #46
I think to add a max recursion value to a factory with a default. Upon identifying more than the max recursion, switch the value to none, if it's optional, otherwise raise a verbose error with user instructions

[2022-07-24 16:20] DSamuylov opened #49 "It seems that Literals are not sampled at random"
I have something similar to:

[code]

And if I have a factory:

[code]

I get in both cases `"value1"` for `my_key` even if I try generate more instances.

[2022-07-25 13:32] phbernardes opened #50 "Allow partial attributes factory for child factories (randomly generating only missing fields for child models)"
Given the following Pydantic models and Factory:

[code]

When trying to build:

[code]

Then the following exception is raised:

[code]

We see that the age is missing in the data, so the factory is not able to construct the model.

If we add the age to the data:

[code]

The factory will construct the model instance:
[code]

Note: only the age of the Pets (child model) is necessary, ModelFactory

[2022-07-25 13:37] Goldziher commented on #50
Sure, go ahead

[2022-07-25 13:58] Goldziher commented on #49
fixed in v1.4.1

[2022-07-25 13:58] #49 closed

[2022-07-25 14:49] pedro-prose commented on #50
Great, I'll work on a PR.

[2022-08-02 09:45] Goldziher opened #51 "Enhancement: TypedDict support"
The library currently doesnt support TypedDict - but pydantic does. We should extend the library to support it.

[2022-08-02 09:45] Goldziher commented on #50
any updates? @pedro-prose

[2022-08-02 18:47] phbernardes commented on #50
Hi, I didn't had the time this last week. I'll work on it this week.

[2022-08-09 12:56] Goldziher commented on #50
released

[2022-08-09 12:56] #50 closed

[2022-08-09 12:57] pedro-prose commented on #50
Thank you!

[2022-08-09 20:15] lindycoder opened #53 "Error when building with a parameter that is a pydantic model"
Hello!

New in version 1.5.0 this previously working code seems to be broken

[code]

Produces the following error
[code]

[2022-08-09 20:33] unlisted commented on #53
I'm experiencing the same. Calling build() with parameter that is a model raises AttributeError in 1.5.0 but works in 1.4.9.

[2022-08-09 21:22] Goldziher commented on #53
Ok, I'll handle this tomorrow morning

[2022-08-09 21:49] phbernardes commented on #53
Hi, PR #54 should fix this problem.

[2022-08-10 08:20] Goldziher commented on #53
should be resolved by 1.5.1

[2022-08-10 08:20] #53 closed

[2022-08-10 12:33] lindycoder commented on #53
Yes that did it, thank you @phbernardes and @Goldziher

[2022-08-10 17:15] lindycoder opened #56 "Error when building with a parameter that is a optional pydantic model"
Hello again!

Sorry to be the bearer of bad news!

We found another problem with the new partial factories when giving a None for an optional attribute.

`pydantic-factories==1.5.1`

[code]

Will Produce the following
[code]

[2022-08-10 17:27] Goldziher commented on #56
Aight, I'll look into this. @phbernardes - do you want to PR this as well?

[2022-08-11 07:45] toravasaari opened #57 "Constrained decimal handler cannot generate values between 0 and 1"
Hi, there seems to be a bug when generating decimal values between 0 and 1.

With this example:
[code]

I get following error
[code]

I'd expect that the factory would create fractions like 0.00, 0.12 and 1.00.

Versions:
* Python: 3.10.5
* pydantic: 1.9.1
* pydantic-factories: 1.5.1

[2022-08-11 08:03] phbernardes commented on #56
Hi, yes, PR is coming.

[2022-08-11 08:29] #56 closed

[2022-08-11 08:37] Goldziher commented on #56
v1.5.2 will be released in a few min. Please confirm.

[2022-08-11 08:41] Goldziher commented on #57
this does appear like a bug.  Youre welcome to submit a PR for it. Otherwise I will get to it ASAP, which might be a few days.

[2022-08-11 12:31] lindycoder commented on #56
Yes it looks fine from my end, thanks a lot!

[2022-08-11 17:10] #57 closed

[2022-08-12 06:26] anthonyh209 opened #61 "build function ignores passed arguments for certain types"
**What happened**
Since version 1.5, the factory.build function ignores passed arguments for certain types. For instance, this was verified for a pydantic model which had a field of type Mapping[str, NestedModel]. On the other hand, a field of type Mapping[str, str] is still accepted and taken into account during the build call.

**What did you expect to happen**
Expected that the build function r

[2022-08-12 07:56] Goldziher commented on #61
@phbernardes -- another one im afraid.

[2022-08-12 12:01] phbernardes commented on #61
Ok, I opened a new PR. Sorry for that.

[2022-08-12 12:22] Goldziher commented on #61
thanks @phbernardes merged and released

[2022-08-12 12:22] #61 closed

[2022-08-30 13:20] RuiLoureiro opened #64 "Specifying ModelFactory for nested model"
Hello!

Given the following models:

[code]

I want to generate instances of type `A`, while keeping `c` deterministic.

I tried to do the following:

[code]

When I call `AFactory.build()`, `c` is randomly generated, so it's not using `BFactory`.

Is there any way to make `AFactory` use `BFactory` without having to set it explicitly as ` b = BFactory.build()` in `AFactory`?

[2022-08-30 13:29] #64 closed, assigned to nobody

[2022-08-30 14:06] lindycoder commented on #64
This is supported
[code]

[2022-09-09 16:14] mikelane opened #65 "Allow access to sub-factory fields from build method."
It would be great to be able to customize the field of a sub-factory (or sub-sub-factory, etc.) right from the parent's build method. For example:

[code]

A real example of code that I have to write is something like this:

[code]

I'd love to be able to do something like this:

[code]

Everything else can be either the default values or whatever I've customized in the various sub-factories and t

[2022-09-09 16:21] mikelane opened #66 "Allow setting the key value of a container type"
When we have this:

[code]
and this:
[code]

There is no way (that I can tell) to customize the key value of the root model. I'd like to be able to do this

[code]
Or maybe this:

[code]

I don't know if root_key is the right value here, but it would be very useful to have something to hook into to customize this value.

[2022-09-09 19:09] mikelane opened #67 "Enhancement: Auto-register factories as pytest fixtures"
It would be super handy to have some method that would easily create a fixture out of a factory. For example:

[code]

And then

[code]

This is following the model of `pytest-factoryboy` which automatically converts the PascalCase class names to be the snake_case equivalent for the fixtures.

[2022-09-09 19:50] Goldziher commented on #65
I can see the use for this. Its very djangoese though. Why not use dot notation instead?

`body__details__resource_id` ==> `body.details.resource.id`

Either way, I am fine with this being implemented - if the implementation is clean and not overly complex.

[2022-09-09 19:52] Goldziher commented on #66
Despite the example I am not quite sure I understand the request.

[2022-09-09 19:54] Goldziher commented on #67
Sure, this is a good suggestion. If you'd like to add this it would be a welcome addition.

[2022-09-10 00:59] lindycoder commented on #65
I was under the impression that the the partial attributes [recently implemented](https://github.com/Goldziher/pydantic-factories/pull/52) was to solve this.
would go like
[code]

[2022-09-15 17:43] mdlincoln opened #68 "ModelFactory.seed_random does not produce deterministic UUIDs"
When using `ModelFactory.seed_random`, `UUID` fields do not generate deterministic values.

[code]

[2022-09-15 18:23] Goldziher commented on #68
Cheers. Fix will be added soon.

[2022-09-15 19:38] #68 closed

[2022-09-16 13:46] lindycoder opened #70 "Bug: passing a dict of object to the factory is ignored"
Hello!

When setting a `.build()` override for a dict where the value is a Pydantic model, it seems to be ignored.
**pydantic-factories version 1.6.2**

Following code repoduces: note that i made a simple dict to show that it doesn't work with classes only
[code]

Output is
[code]

expected output is
[code]

Thank you!

[2022-09-16 14:45] Goldziher commented on #70
thanks. A PR with a fix would be welcome.

[2022-09-28 19:36] Goldziher commented on #66
should i close this or is there clarification incoming 😉 ?

[2022-09-28 19:37] #65 closed

[2022-09-30 19:33] #66 closed

[2022-10-01 08:15] EltonChou commented on #67
I think I could try to implenment this recently.

[2022-10-01 08:49] Goldziher commented on #67
Cool

[2022-10-01 11:42] #70 closed

[2022-10-05 15:43] p3trus opened #75 "Infinite recursion error with discriminated unions"
I tried to create a factory for a model that makes use of a discriminated union and it ends up in an infinite recursion.

python: 3.7
pydantic_factories version: 1.7.1

Below is a minimal example using the pydantic example at https://pydantic-docs.helpmanual.io/usage/types/#nested-discriminated-unions
as a starting point

[code]

[2022-10-07 15:36] #67 closed

[2022-10-07 17:40] #75 closed

[2022-10-08 12:31] peterschutt opened #77 "Bug: pytest plugin causing runtime error"
Looks like introduced in #74

[code]

[2022-10-08 16:45] #77 closed

[2022-10-08 23:24] LeonardoGentile commented on #21
This worked for me

[code]

[2022-10-08 23:59] LeonardoGentile opened #79 "How to access faker to generate realistic value"
Hello, thanks for this useful project! 👍

As for the title of my question, in factory_boy we can access faker like this:

[code]

The goal is to generate realistic values, as for example first names, that will be handled by faker.
How to access faker, in a similar way it is possible in factory_boy?

I was able with
[code]
But being `_get_faker()` private I was wondering why and if there is a publi

[2022-10-09 01:40] LeonardoGentile opened #80 "TypingType[BaseModel] not supported"
Hello,

**TL;DR:**
I think pydantic-factory can't handle this line:

[code]

---

I'm trying to build a factory for [this model](https://github.com/awslabs/aws-lambda-powertools-python/blob/develop/aws_lambda_powertools/utilities/parser/models/sns.py#L49):

[code]

I get the error:

[code]

By digging the entire hierarchy of nested models I found it comes from this:

[code]

 So I've tried to recr

[2022-10-09 01:57] LeonardoGentile commented on #80
I think it might have to do with this [Union coercion](https://pydantic-docs.helpmanual.io/usage/model_config/#smart-union)
I have tried a simple fix but didn't work:

[code]

[2022-10-09 06:57] Goldziher commented on #80
Thanks for reporting. I'll check it out ASAP

[2022-10-09 08:30] Goldziher commented on #79
Hi, yes ths is a mishap. Lemme fix this.

[2022-10-09 09:15] #79 closed

[2022-10-09 09:17] Goldziher commented on #80
@LeonardoGentile  can you add a PR with a minimum reproducible test marked with `@pytest.mark.xfail`? It will make it simpler for me to fix this issue.

[2022-10-10 17:07] Goldziher opened #82 "Enhancement: Missing ConstrainedDate"
We apparently are missing the `ConstrainedDate` type, and thus must add it.

[2022-10-13 18:37] #82 closed

[2022-10-14 22:41] mikelane opened #84 "How to use factory fixtures in other factories?"
Hey thanks for adding the register_fixtures decorator. One issue I've got with this is that I can't reference a factory fixture in other factories. We have something like this:

[code]

We use BarFactory in some tests by itself, so if we register the fixture, that works great. But I'm having trouble figuring out how to use the bar_factory fixture inside of the FooFactory. We can't do this:

[code]

[2022-10-15 11:08] Goldziher commented on #84
Hi, ok let's fix this. I'm thinking of adding a field type `Fixture` that works like `Use` but for fixtures. Thoughts?

[2022-10-15 14:07] mikelane commented on #84
Hmm. Let me ponder that a bit.

[2022-10-16 18:32] #84 closed

[2022-10-17 01:25] peterschutt opened #88 "Typing: DataclassProtocol.__dataclass_fields__ should be ClassVar"
https://github.com/starlite-api/pydantic-factories/blob/d5ebb7a2071ed393926dbdd2f7f7e47fd2a026a6/pydantic_factories/protocols.py#L10-L11

Defined [here](https://github.com/python/cpython/blob/ae192178679c532e2c1b2d3b8c0928b77e0fe90e/Lib/dataclasses.py#L1016):

[code]

Where `_FIELDS` is:

[code]

I ran into this when trying to use the types in Starlite:

[code]

[2022-10-17 03:53] peterschutt commented on #88
Turns out this isn't as clear cut as it seems: https://github.com/python/typing/discussions/1056#discussioncomment-2114689

Prob just better to side with mypy and leave as is.

[2022-10-17 03:53] #88 closed

[2022-10-17 18:50] #51 closed

[2022-10-17 18:52] Goldziher commented on #80
0K, im closing this. If you want to add a reproduction, feel free to reopen.

[2022-10-17 18:52] #80 closed

[2022-10-19 11:31] vintage opened #90 "CHANGELOG.md ordering"
Hey,

Not a big deal, but could you reverse the order of entries in the [CHANGELOG.md](https://github.com/starlite-api/pydantic-factories/blob/main/CHANGELOG.md)? Just wanted to see what got changed in the recent update and had to scroll the list to the bottom first 😅

Just like the main starlite repo for example - https://github.com/starlite-api/starlite/blob/main/CHANGELOG.md - new entries are a

[2022-10-19 13:53] Goldziher commented on #90
sure, would be a nice update 😉 --> PR welcome.

[2022-10-19 17:11] Goldziher commented on #90
done by @ReznikovRoman

[2022-10-19 17:11] #90 closed

[2022-10-20 15:40] burritoatspoton opened #92 "Bug: can't construct models with fields named like `ModelFactory`s classmethods"
Hello, I stumbled upon this recently:

[code]

– looks like it fails due to `CFactory.build` detecting and incorrectly recognizing `CFactory.batch` as a factory field instead of its own classmethod. Similar issue occurs with e.g. `build` or `get_model_fields`.

[2022-10-20 15:58] Goldziher commented on #92
Interesting. Ok, we'll look into this. Thanks!

[2022-10-25 13:06] alazaralemayehu opened #94 "Support for Json Type"
### Description

[code]

This automatically converts the `person_json` into pydantic Model. But I couldn't find the way to reverse this.

[2022-10-25 13:39] Goldziher commented on #94
Hi, thanks for the issue. So the JSON is a dict - you mean you want to output the JSON as a string instead of a dict?

[2022-10-25 14:01] alazaralemayehu commented on #94
Yes. For more info, I am talking about this feature https://pydantic-docs.helpmanual.io/usage/types/#json-type

[2022-10-26 07:20] alazaralemayehu opened #96 "Support for generating the models with alias"
Hello, thank you for your support. Is there a way to generate the pydantic fake models that contains aliases field.
For example,
`
class Person(Model):
    userName: str = Field(alias='user_name')
`

the current factory generates only using fieldName (userName), is it possible to create the generate models using alias name?

thank you.

[2022-10-26 07:26] Goldziher commented on #96
Yes, there is a class variable for this. Checkout the docs.

[2022-10-26 14:13] binq01 opened #97 "ImportError raised when library is used with pydantic < 1.10.0"
Currently when using the newest pydantic-factories (1.12.0) together with the pydantic version that is older than 1.10.0 ImportError is raised:

```ImportError: cannot import name 'ConstrainedDate' from 'pydantic' ([...]/venv/lib/python3.11/site-packages/pydantic/__init__.py)```

It seems that the minimum version of pydantic should be bumped to >1.10.0: https://github.com/pydantic/pydantic/release

[2022-10-26 15:55] #92 closed

[2022-10-26 16:49] #97 closed

[2022-10-26 18:52] Goldziher commented on #96
did you find what you needed or is there an issue?

[2022-10-26 18:53] Goldziher commented on #94
So, I am not sure what is required here to be honest. Can you show me a code snippet that is failing to do what you need?

[2022-11-02 21:14] gegnew opened #101 "`RecursionError` when calling a factory using `BeanieDocumentFactory`"
With two `Document` classes like:
[code]

and a factory like:
[code]

calling `FooFactory.build()` results in a `RecursionError`

[2022-11-02 21:17] gegnew opened #102 "`BeanieDocumentFactory` ignores all `PydanticObjectdIds`, even when they aren't the `_id`"
in `beanie_odm.py`:

[code]

I'm sure this was done so that the factory can create a new object without an `_id`, but it doesn't allow a class to have a `PydanticObjectId` as a property.

[2022-11-03 22:06] mikelane opened #105 "Factory Generates Invalid Values for Constrained Types in NewType"
# Overview

When we are generating our Pydantic models, we often prefer to have new distinct types as our field types. This improves our ability to understand our code but also it allows for static type checking of the values that get used. So for example, if I had code that was using a `FirstName` type in a field that is defined to take a `LastName`, the static type checker (or, really the IDE) w

[2022-11-04 01:19] Wesleyzxc commented on #96
Hi, I'm trying to look for this as well. The ones I see on the docs are:
[code]
They don't seem to be related? It looks like it's also missing docs for `__random_seed__`.

[2022-11-04 04:49] Goldziher commented on #105
Hi Mike,

Two different problems here- first is we don't have support in place for NewType. Second is what you reported regarding constrained dates.

I'll take a look when I can. It might take a few days.

[2022-11-04 05:11] Goldziher commented on #96
Hi,

So currently there is a method on the factory that determines per field whether to use alias:

[code]

What are you guys looking for to have?

[2022-11-04 05:27] mikelane commented on #105
Hey! Thanks for the response. About the constrained date, I hadn't ever tried that one, and I wanted to report what I found. Happy to create a new issue, if you'd like. I also noticed later that the constrained set, frozenset, and list don't cause errors.

Anyhow, thanks for looking into this.

[2022-11-04 05:34] Wesleyzxc commented on #96
I was trying to look at that, but `(model, BaseModel) and model.__config__.allow_population_by_field_name` is always true. I'm not sure if I'm missing any additional configs.
[code]

Is that possible?

[2022-11-04 05:57] Goldziher commented on #96
You can pass a dict of values with `username`. I will have to look into the other part.

[2022-11-05 03:42] jtraub commented on #105
@Goldziher would you mind if I take a look into this today? I always wanted to do a dive into Python typing internals

[2022-11-05 07:03] Goldziher commented on #105
By all means 😁, you're a maintainer.

[2022-11-05 08:30] jtraub opened #108 "Bug: confrozenset doesn't work"
I started experimenting with pydantic-factories and found out that confrozenset does not work

This code

[code]

produces
[code]

[2022-11-05 08:54] Goldziher commented on #108
good find

[2022-11-05 12:55] #108 closed

[2022-11-05 13:45] jtraub opened #110 "Bug: ParameterError is thrown for valid ranges in conint"
Continued my experiments.

This code
[code]

produces

[code]

Instead I expected it to produce `11` which matches the constraints `10 < a < 12` for integer `a`.

It seems that `conint(ge=10, le=10)` will throw the same error while it should not because `10` is a valid value.

[2022-11-05 13:57] jtraub commented on #110
Yep, definitely a bug

[code]

[2022-11-05 23:45] jtraub opened #111 "Enhancement: add `unique_items` support for conlist"
`conlist` has boolean flag `unique_items` which enforces uniqueness of list elements.

https://pydantic-docs.helpmanual.io/usage/types/#arguments-to-conlist

[2022-11-06 09:56] #105 closed

[2022-11-07 10:48] #111 closed

[2022-11-07 22:06] tbicr opened #115 "Factories cannot randomly generate missing parameters for child factories if all params passed on higher level"
When at least one field doesn't passed in nested objects all child objects created right way:

[code]

However if we pass all fields in nested objects then nested objects creation ignored:

[code]
[code]

that explained by next logic https://github.com/starlite-api/pydantic-factories/blob/main/pydantic_factories/factory.py#L200

expected that child objects created in both cases

[2022-11-08 04:53] jtraub commented on #105
@mikelane just FYI - the fix has been released in 1.15.0

[2022-11-08 15:44] Goldziher commented on #115
it does appear to be a bug.

@jtraub - feel like picking this one up as well?

[2022-11-08 23:10] jtraub commented on #115
@Goldziher Sure, I'll take into this either tonight or tomorrow.

[2022-11-09 04:12] #110 closed

[2022-11-09 16:38] eloi-martinez-qida opened #116 "ormar Enum default ignored"
Tbh i don't know if this is a bug or it's just outside the function of this library.

But when i build a factory of an ormar model with a defined default in the model its ignored and it sets it as random.

Example:
[code]
 The build factory has `state=<TestState.OK: 'OK'> `

Version: pydantic_factories-1.15.0

[2022-11-09 17:23] Goldziher commented on #116
This is not in this library probably. You can define a default in the factory itself to resolve this. The default in ormar probably skips the Pydantic default.

[2022-11-11 09:00] jtraub opened #118 "ParameterError should be thrown for invalid ranges in condecimal/confloat/conint when multiple_of is supplied"
[code]

`d` field should be a decimal that is a multiple of 4 and lies within [8.1; 9] range. Obviously there are no such numbers so the lib should throw `ParameterError` instead of generating an invalid value and trying to pass to the model here.

If given range is really narrow it would lead to infinite cycle.

[code]

[2022-11-13 13:00] jtraub opened #120 "ParameterError shoud be throw if `multiple_of=0` for any of constrained number fields"
Right now pydantic-factories generates 0 for such fields and this leads to errors.

[code]

[2022-11-13 23:01] #118 closed

[2022-11-13 23:01] #120 closed

[2022-11-16 13:31] Kostiantyn-Salnykov opened #121 "Factory generates same values for different test through one pytest run (Factory works only once)."
Hi, I've created a Factory for the User (id => pk (unique), email => unique constraint), and provided `__async_persistence__` to it.
But It works only once (first time, then all other time Faker generates the same values for `id`, and `email`, and maybe for other fields). Tried to fix it with `Use` declaration, but it helps only with id.
[code]
I also used a `faker_seed` fixture in my conftest.py

[2022-11-16 15:39] jtraub commented on #121
@Kostiantyn-Salnykov could you please post a complete minimal example of model+factory+test so I can run it?

[2022-11-16 20:46] avihai-yosef opened #122 "Register custom factories"
Enhancement - Having the ability to register custom factories.
In our code base, we have common factories that are used a lot across the project.
And we want one place to register these factories instead of assigning them manually as factory property.

For example:
[code]

# Suggested usage:
## Option 1 - Overriding `get_provider_map` class method
[code]

## Option 2 - add a class method to regist

[2022-11-16 20:57] Kostiantyn-Salnykov commented on #121
@jtraub it will be hard to extract all necessary source code, but sure that all related staff are located in [tests/apps/users/test_models.py](https://github.com/Kostiantyn-Salnykov/fastapi_quickstart/blob/main/tests/apps/users/test_models.py)
[tests/apps/users/factories.py](https://github.com/Kostiantyn-Salnykov/fastapi_quickstart/blob/main/tests/apps/users/factories.py)
[apps/users/models.py](ht

[2022-11-17 05:13] Goldziher commented on #122
Hi, can't you simple create a subclass of model factory with this field defined?

[2022-11-17 06:46] avihai-yosef commented on #122
I can, but I want to globally register a factory the same way as providers.

Imagine that I have ModelA, which is used as a field in 50 Pydantic Models.
Now I want to create a custom Factory for ModelA.

For that, I need to go over the Pydantic model factories and define this field.
Instead, we can have the same mechanism that providers give us today but extend it for custom Pydantic factories.

[2022-11-17 07:30] Goldziher commented on #122
ok, I now understand. I have no issue with this. If you would like to add a PR - @jtraub and myself will gladly review it.

[2022-11-17 15:36] avihai-yosef commented on #122
@jtraub @Goldziher, I will add a PR.
Which option do you prefer from the above-listed options?

[2022-11-18 05:50] jtraub commented on #121
@Kostiantyn-Salnykov thanks a lot for the code.

I will try to fix the problem in the next few days.

[2022-11-21 11:19] jtraub commented on #121
@Kostiantyn-Salnykov the reason of your problem is `pytest-randomly` resetting `random.seed` for each test.

So you need to pass `--randomly-dont-reset-seed` flag if you want to get rid of this behaviour or get rid of `pytest-randomly` itself.

This command works fine for me `poetry run pytest --test-alembic --randomly-dont-reset-seed`

P.S. I would also recommend you to provide `.env.example` fil

[2022-11-21 11:19] #121 closed

[2022-11-21 11:41] jtraub commented on #121
As README.md in https://github.com/pytest-dev/pytest-randomly states

...
If [faker](https://pypi.org/project/faker) is installed, its random state is reset at the start of every test. This is also for repeatable fuzzy data in tests - factory boy uses faker for lots of data. This is also done if you're using the faker pytest fixture, by defining the faker_seed fixture ([docs](https://faker.readthe

[2022-11-21 14:29] #115 closed

[2022-11-21 15:01] mishok13 opened #124 "Constrained string regex + min/max length may produce invalid values"
When a `Field` specified both `max_length` and regex that includes start and end of string tokens and a repeatable pattern can lead to generation of invalid string value that leads to `ValidationError`. See reproduction:

[code]

[code]

As far as I can tell, this is a result of [this piece of code](https://github.com/starlite-api/pydantic-factories/blob/main/pydantic_factories/constraints/strings

[2022-11-21 15:14] jtraub commented on #124
Hi Andrii

It would be great if you do so. I am willing to help.

I've encountered a similar problem recently (see #118) so we definitely need to adjust tests or add more tests that would do full "end2end" testing making sure that generated values do not raise `ValidationError`s if supplied to constrained fields.

[2022-11-21 19:01] #116 closed

[2022-11-22 16:02] mishok13 commented on #124
Right on, I'll make sure to get some time to work on this in the coming days, will get back to you once I have a clearer idea of a solution here.

[2022-11-28 18:21] eloi-martinez-qida opened #128 "Model not seting default values after building a factory"
Creating a model after building a factory of the model rises a validation error of the default values not being defined.

Example:
[code]
results in:
[code]

Removing TestModelFactory.build() works as intended.

The problem persists if the factory is called from one test and the instancing in the model in another one.
Ex.
[code]

[2022-11-28 19:00] jtraub commented on #128
@eloi-martinez-qida It would help a lot if you provide a minimal example (py file + list of dependencies with their version) that people can run.

For example, I have no experience with `ormar` whatsoever and it took me like 20 minutes to read ormar docs and find missing pieces in your code and it works just fine for me.

I had to modify it (e.g. rename `UUID4` to `UUID` and `BaseMeta` to `Meta`)

[2022-11-28 19:28] eloi-martinez-qida commented on #128
@jtraub yes, sorry for missing that, the problem persists using a pydantic BaseModel and makes the example simpler.
[code]

Versions from pip freeze:

[code]

[2022-11-28 19:54] eloi-martinez-qida commented on #128
The base project is this template with ormar: https://github.com/s3rius/FastAPI-template

[2022-11-28 20:12] jtraub commented on #128
Thanks a lot. I can reproduce the problem now.

[2022-11-28 21:00] eloi-martinez-qida commented on #128
Thanks you for the fast response and pointing out what i was lacking

[2022-11-29 05:34] jtraub commented on #128
@eloi-martinez-qida could you please install pydantic-factories from this branch - https://github.com/starlite-api/pydantic-factories/tree/fix_ormar and check if your actual code still fails.

I noticed that for some reason Pydantic sets `default_factory` to `None` when `required` is modified but I don't understand why yet. So as a fix I decided to do a conditional deepcopy but I am not sure if th

[2022-11-29 09:41] eloi-martinez-qida commented on #128
thanks, now id and created_date works as expected, but for some reason, state does not (it's an Enum, sorry for not including it in the example, i was trying to make it as simple as posible)

I'm appending an example for you to test:
[code]

[2022-11-29 18:28] jtraub commented on #128
@eloi-martinez-qida that is quite interesting behaviour here.

I receive `raise IndexError('Cannot choose from an empty sequence')`. Do you observer the same error with enums?
Did it work before?

[2022-11-29 18:41] eloi-martinez-qida commented on #128
@jtraub Are you inheriting TestModel from ormar.Model or BaseModel?
When inheriting from BaseModel i get the same error than you.
When inheriting form ormar.Model i get:
[code]

When not building the Factory, it runs as expected.
I should also add that i'm running python 3.11 (FROM python:3.11.0-slim-bullseye) but i think you already know that.

[2022-11-30 09:41] jtraub commented on #122
This has been implemented in #125 and #131.

[2022-11-30 09:41] #122 closed